.navigation li{
    flex-direction: column;
    letter-spacing: 1px;
    font-style: italic;
    display: inline;


}
.navigation ul{
    font-size:xx-large;
    display: flex;
    justify-content: space-evenly ;
    align-items:center
    
    
}
.navigation{
    background-color: orange;
    border-style: dashed;
    border-color: blue;
    margin: 10px;
}
.posts{
display: flex;
flex-direction: column;
justify-content: center;
}
   